.insight-jbp-column-middle {
    display: none;
}

div.insight-jbp-column-right {
    font-size: 15px;
}

div#insight-jbp-job-search.container-fluid, div.container-fluid {
    padding-left: 2px;
    padding-right: 2px;
}

div.col-sm-1, div.col-sm-2, div.col-sm-3 {
    padding: 0px 2px;
}

.insight-jbp-total-jobs {
    font-size: 15px;
}

div.container.career-conainer {
    padding-left: 0px;
    padding-right: 0px;
}

#insight-jbp-list > table > tbody > tr > td {
    padding-top: 22px;
    padding-bottom:22px;
}

#insight-jbp-list > table > tbody > tr > td > .col > .row {
    margin-left: 0px;
    margin-right: 0px;
}

#insight-jbp-list > table > tbody > tr > td > .col > .row.text-right {
    display:flex;
    justify-content:flex-end;
}

#insight-jbp-list > table > tbody > tr > td > .col > .row.text-center {
    display:block;
}

.insight-jbp-company-description > p {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 15px;
}